<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Information form">
<meta name="author" content="email@website.com"> <!-- email goes here! -->
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/universal.css') }}" rel="stylesheet">

<title>The News Literary Project</title>

</head>
<body>

<p>hi</p>
<div class="hdr">
  <a class="hdr__logo-link" href="/">
    <img class="hdr__logo-img" src="{{ url_for('static', filename='img/hdr-logo.png') }}" alt="logo">
  </a>
  <div class="desktop-nav">
    <a href="#" class="desktop-nav__link">Newsletter</a>
    <a href="#" class="desktop-nav__link">Blogs</a>
    <a href="#" class="desktop-nav__link">In the News</a>
    <a href="#" class="desktop-nav__link">Journalist Fellows</a>
    <a href="#" class="desktop-nav__link">Contact</a>
    <a href="#" class="desktop-nav__link">Support</a>
  </div>
  <div class="main-nav">
    <a href="#" class="main-nav__link">For Students</a>
    <a href="#" class="main-nav__link">For Educators</a>
    <a href="#" class="main-nav__link">For Journalists</a>
    <a href="#" class="main-nav__link">Services</a>
    <a href="#" class="main-nav__link">checkology Virtual Classroom</a>
    <a href="#" class="main-nav__link main-nav__link--donate">Donate</a>
  </div>
</div>
<div class="main">
  <div class="main-story main-story--1">
    <div class="main-story__copy">
      <div class="main-story__hed">What is news literacy?</div>
      <div class="main-story__dek">News literacy teaches that all information is not created equal. It helps young people use the aspirational standards of quality journalism to determine what they should trust, share and act on.</div>
      <a href="#" class="main-story__link">
        <span class="main-story__link-text">Learn More</span>
        <span class="main-story__link-arrow">&rarr;</span>
      </a>
    </div>
  </div>
  <div class="main-story main-story--2">
    <div class="main-story__copy">
      <img class="main-story__hed-img" src="{{ url_for('static', filename='img/checkology-story.png') }}" alt="">
      <div class="main-story__dek"></div>
      <a href="#" class="main-story__link">
        <span class="main-story__link-text">Learn More</span>
        <span class="main-story__link-text">&rarr;</span>
        <!-- <img href="{{ url_for('static', filename='img/checkology-story.png') }}" class="main-story__link-arrow" alt=""> -->
      </a>
    </div>
  </div>
  <div class="main-story main-story--3">
    <div class="main-story__copy">
      <div class="main-story__hed"></div>
      <div class="main-story__dek"></div>
      <a href="#" class="main-story__link">
        <span class="main-story__link-text">Learn More</span>
        <span class="main-story__link-arrow">&rarr;</span>
      </a>
    </div>
  </div>
</div>
<div class="ftr"></div>

<!-- jQuery -->
<script src="{{url_for('static',filename='js/jquery.js') }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{url_for('static', filename='js/bootstrap.min.js') }}"></script>

<!-- Plugin JavaScript -->
<script src="{{url_for('static', filename='js/jquery.easing.min.js' ) }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ url_for('static', filename='js/grayscale.js')}}"></script>
<script src="{{url_for('static', filename='js/navbarcustom.js')}}"></script>

<script>
</body>
</html>
